FEEPAYER_PRIVATE_KEY=
MINA_NETWORK_URL=https://api.minascan.io/node/devnet/v1/graphql # change this for mainnet
NETWORK_ID=testnet # change this for mainnet
REDIS_URL=redis://redis:6379 # change this if you are not running in docker
LIABILIITES_CONTRACT_ADDRESS=
ROOT_PROOF_PATH=
MINA_KEYPAIR_FILE=
MINA_ASSETS_FILE=
SECRET_MESSAGE="Hello, this is a secret message"
ASSET_CONTRACT_ADDRESS=
SOLVENCY_CONTRACT_ADDRESS=
ASSET_PROOF_PATH=
INFO_FILE_PATH=
USER_DATA_FILE= # path to the user data file give it here or in the script