FEEPAYER_PRIVATE_KEY=
MINA_NETWORK_URL=https://api.minascan.io/node/devnet/v1/graphql # change this for mainnet
NETWORK_ID=testnet # change this for mainnet
REDIS_URL=redis://redis:6379 # change this if you are not running in docker
MINA_KEYPAIR_FILE=/app/packages/interaction_scripts/data/random.json # change if not using docker
MINA_ASSETS_FILE=/app/packages/interaction_scripts/data/random_asset.csv # change if not using docker
SECRET_MESSAGE="Hello, this is a secret message"
ASSET_PROOF_PATH=/app/minaProof.json
INFO_FILE_PATH=/app/roundInfo.json
USER_DATA_FILE=/app/packages/interaction_scripts/data/user_data.csv
PORT=16001
ROOT_PROOF_PATH=/app/rootProof.json
NET_ZERO_API_KEY=nds428v6be5k36cgg55ol
NET_ZERO_BACKEND=http://api.netzero.click # change this if you are using docker
NETZERO_BACKEND_VERIFY_API=http://localhost:8000/api/verifyuser
EXCHANGE_ID=2
FASTIFY_ADDRESS=0.0.0.0
ASSET_DATA_FILE=/app/packages/interaction_scripts/data/random_asset.csv # change if not using docker
